* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 92vh;
    background-image: linear-gradient(#00000050, #00000070), url(../assets/clovis-castaneda--97MyV1TOJk-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.conteiner {
    width: 60%;
    background: #fff;
    margin: 30px auto;
    padding: 40px 50px;
    text-align: center;
    border-radius: 4px;
    ;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.4);
}

.card {
    border: 2px solid black;
    padding: 20px;
}

.card__hr {
    margin: 2% 10%;
}

.card__name {
    font-size: 30px;
}

.svg-icon {
    width: 2em;
    height: 2em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #000000;
  }
  
  .svg-icon circle {
    stroke: #000000;
    stroke-width: 1;
  }

  .card__division{
    display: flex;
    justify-content: space-evenly;
  
  }

  .title{
    // margin: 0 auto;
    margin-top: -20px;
    margin-bottom: 25px;

  }
  
  .conteiner__dots{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    justify-content: center;
    
  }
  .dots{
    width: 17px;
    height: 17px;
    background-color: #000000;
    border-radius: 50%;
    cursor: pointer;
  }


  .dots:hover{
    background-color: aqua;
  }

  .card__buttons{
    border-radius: 25%;
    padding:4px;
    background-color: #fff;
    border: rgb(255, 255, 255);
    cursor: pointer;
  }
  

  // .card__buttons:hover{
  //   background-color: rgb(21, 182, 40);
  // }
